@import "reset";
@import "gallery";

body {
  background-color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: clamp(0.8rem, 1.8vw, 1.3rem);
  margin: 0.8rem;
}

.structure {
  margin: auto;
  max-width: 1000px;
}

$enough-space-for-nav-breakpoint: 700px;
nav.main-nav {
  button {
    -webkit-appearance: none;
    align-items: center;
    background-color: palegreen;
    border: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0.5rem 1rem;
    width: 100%;

    @media (min-width: $enough-space-for-nav-breakpoint) {
      display: none;
    }

    svg {
      height: clamp(0.6rem, 1.6vw, 1.1rem);
    }

    &:hover {
      cursor: pointer;
    }
  }

  $max-height: 180px; // menu open transition hack on non-explicit heights.
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height linear 0.3s;

    &[data-visible] {
      max-height: $max-height;
    }

    @media (min-width: $enough-space-for-nav-breakpoint) {
      max-height: $max-height;
      flex-direction: row;
    }

    li {
      border-bottom: 1px solid rgb(224, 224, 224);
      text-align: center;

      @media (min-width: $enough-space-for-nav-breakpoint) {
        width: 100%;
        white-space: nowrap;
      }
    }
  }

  a {
    display: block;
    padding: 0.5rem 1rem;
  }
}

/////////////////////
h1 span,
h2 span,
h3 span {
  font-size: 0.6em;
}

blockquote {
  margin: 0;

  p {
    background: #eee;
    border-radius: 5px;
    padding: 15px;

    &::before {
      content: "\201C";
    }

    &::after {
      content: "\201D";
    }
  }

  footer {
    font-size: 0.8em;
    text-align: right;
  }
}

// p {
//   margin-bottom: 2rem;
// }

/////////////////////
.booking-details {
  border: 3px solid palegreen;
  padding: 0.5rem 1rem;
}

.highlight {
  border: 3px solid palegreen;
  padding: 0.5rem 1rem;
}
