@import "base";
@import "gallery";

header {
  a {
    text-decoration: none;
    color: $theText;
  }

  h1 {
    margin: 0 0 0.5rem 0;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }
}

$enough-space-for-nav-breakpoint: 700px;
nav.main-nav {
  button {
    -webkit-appearance: none;
    align-items: center;
    background-color: $thatGreen;
    border: none;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0.5rem 1rem;
    width: 100%;

    @media (min-width: $enough-space-for-nav-breakpoint) {
      display: none;
    }

    svg {
      height: clamp(0.6rem, 1.6vw, 1.1rem);
    }

    &:hover {
      cursor: pointer;
    }
  }

  $max-height: 180px; // menu open transition hack on non-explicit heights.
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height linear 0.3s;

    &[data-visible] {
      max-height: $max-height;
    }

    @media (min-width: $enough-space-for-nav-breakpoint) {
      max-height: $max-height;
      flex-direction: row;
      background-color: $thatGreen;
      border-radius: 5px 5px 0 0;
    }

    li {
      border-bottom: 1px solid rgb(224, 224, 224);
      text-align: center;

      @media (min-width: $enough-space-for-nav-breakpoint) {
        border: 0;
        width: 100%;
        white-space: nowrap;
      }

      a {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: $theText;
        text-shadow: 1px 1px 5px white;
      }
    }
  }
}

.hero {
  background: $theText;
  min-height: 40vw;
  border-radius: 0 0 1.2rem 1.2rem;

  background-size: cover;
  background-position: center;

  &.home {
    background-image: url("/images/granary/46.jpg");
  }

  &.granary {
    background-image: url("/images/granary/46.jpg");
  }

  &.cottage {
    background-image: url("/images/granary/46.jpg");
  }

  &.facilities {
    background-image: url("/images/facilities/17.jpg");
  }

  &.bookings {
    background-image: url("/images/granary/46.jpg");
  }
}

/////////////////////
.highlight {
  border: 3px solid $highlight;
  padding: 0.5rem 1rem;
  text-align: center;
}
