<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ eleventyComputed.title or title or metadata.title }}{{ " - " if eleventyComputed.title or title or metadata.title }}{{ siteData.title }}</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="icon" type="image/svg+xml" href="/images/franceLand.svg">
  <script defer src="/scripts/index.js"></script>
</head>
<body id="top">
  <header class="structure padded">
    <h1><a href="/">Kergonian Holidays</a></h1>
    <h2>Self catering holiday cottages in Brittany, France</h2>
  </header>

  <nav class="main-nav structure">
    <button id="main-nav-button">
      <svg viewBox="0 0 100 80" width="20" height="20">
        <rect width="100" height="15" rx="8"></rect>
        <rect y="30" width="100" height="15" rx="8"></rect>
        <rect y="60" width="100" height="15" rx="8"></rect>
      </svg>
      Menu
    </button>
    <ul id="main-nav-menu">
      <li><a href="/"{% if name == "home" %} class="active"{% endif %}>Home</a></li>
      <li><a href="/cottage/"{% if name == "cottage" %} class="active"{% endif %}>The Cottage</a></li>
      <li><a href="/facilities/"{% if name == "facilities" %} class="active"{% endif %}>Facilities</a></li>
      <li><a href="/bookings-and-contact/"{% if name == "bookings" %} class="active"{% endif %}>Bookings and Contact</a></li>
    </ul>
  </nav>

  <div class="hero structure {{ name }}"></div>

  <main class="structure padded-main">
  {{ content | safe }}
  </main>

  <footer class="structure padded">
    <nav class="footer-nav">
      <ul>
        <li><a href="/"{% if name == "home" %} class="active"{% endif %}>Home</a></li>
        <li><a href="/cottage/"{% if name == "cottage" %} class="active"{% endif %}>The Cottage</a></li>
        <li><a href="/facilities/"{% if name == "facilities" %} class="active"{% endif %}>Facilities</a></li>
        <li><a href="/bookings-and-contact/"{% if name == "bookings" %} class="active"{% endif %}>Bookings and Contact</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
