---
layout: layouts/base.njk
title: Bookings and Contact
---
<h1>Bookings and Contact</h1>

<div class="highlight">
  <p>Please use the details below to contact us and arrange dates, costs, etc.</p>
  <p>An availability calendar will be added soon.</p>
</div>

<p>We can be contacted with the following details:</p>

<p>Email: <a href="mailto:lynda.collins11@gmail.com">lynda.collins11@gmail.com</a></p>

<p>Phone: 00 33 2 98 87 77 81</p>

<p>Address:<br/>
  Mrs L Collins,</br/>
  Kergonian,</br/>
  29720 Ploneour Lanvern,</br/>
  Finistere,</br/>
  France.
</p>
