---
layout: layouts/base.njk
title: The Cottage
---
<h1>The Cottage</h1>

<ul>
  <li>Sleeps 8 Persons - in 4 bedrooms.</li>
  <li>Independent cottage.</li>
  <li>Use of main pool and children’s splasher pool at Kergonian.</li>
</ul>

<h2>Downstairs</h2>

<ul>
  <li>Kitchen and dining area - woodburner (logs provided on winter lets), gas hob, electric oven, fridge, dishwasher, microwave, coffee maker, toaster, iron, ironing board and washing machine.</li>
  <li>Lounge - with sofa and easy chairs, satellite TV (English) - children’s channel, news, European sport, DVD player.</li>
  <li>Verandah.</li>
  <li>Bathroom - shower over bath, toilet, hand basin.</li>
  <li>Bedroom 1 - King size bed, en-suite shower room.</li>
  <li>Bedroom 2 - 2 single beds, en-suite shower room.</li>
</ul>

<h2>Upstairs</h2>

<ul>
  <li>The stairs from the dining area lead to landing.</li>
  <li>Bedroom 3 - consists of a double bed, hanging clothes rail, chest of drawers with mirror and bedroom chair.</li>
  <li>Bedroom 4 - two single beds, wardrobe and chest of drawers with mirror.</li>
  <li>Shower room - shower, toilet, and hand basin.</li>
</ul>

<h2>Outside</h2>

<ul>
  <li>In front of the cottage safe for children to play is a garden.</li>
  <li>Garden tables, chairs, and barbecue, parking are all provided. Swings and outdoor table tennis for children.</li>
</ul>

<h2>Further Information</h2>

<ul>
  <li>Electric and gas for all hot water and kitchen appliances are included in the rent.</li>
  <li>Please bring your own sheets, duvet covers, pillowcases and towels if you do not wish to hire the linen.</li>
  <li>Kingsize duvet cover and sheet for downstairs bedroom.</li>
  <li>Hire costs for Linen are 11 euros for double and 9 euros for single per week. Towels 12 euros per set/stay.</li>
  <li>Please note: no fresh linen change between a 2 week stay.</li>
  <li>No pets allowed.</li>
</ul>

<div class="booking-details">
  <p>Please see <a href="/bookings-and-contact/">Bookings and Contact</a> for details on how to book.
</div>
