---
layout: layouts/base.njk
title: Facilities
name: facilities
---
<h1>Facilities</h1>

<p>Kergonian offers a relaxing atmosphere, with facilities to enjoy not only this great area but much more further afield.</p>

<h2>On Site</h2>

<p>Swimming pool - solar heated in June, July, and August. It's 12m x 6m and has recently had an all weather cover added which opens up, weather permitting, and gives a much welcomed boast to temperature to the pool.</p>

<p>The pool opening hours wil be 9:30am till 7:45pm.</p>

<p>Tabe Tennis - outside.</p>

<p>Play areas have swings for all the children, separate good size area for football, Boule court area etc.</p>

{% set galleryFile=facilities %}
{% include "layouts/gallery.njk" %}

<h2>Off Site <span>(at additional cost)</span></h2>

<ul>
  <li>Golf</li>
  <li>Horse Riding</li>
  <li>indoor aqua centres</li>
  <li>surfing</li>
  <li>water sports</li>
  <li>canoeing</li>
  <li>Go Karting</li>
  <li>Bike Hire</li>
</ul>

<p>Bars and Restaurants can be found in the next village, and a large choice of beaches can be found within a ten minute drive.</p>
