---
layout: layouts/base.njk
title: The Granary
---
<h1>The Granary</h1>

<ul>
  <li>Sleeps 15 Persons - 4 doubles, 7 singles in 7 bedrooms.</li>
  <li>Cots / high chairs.</li>
  <li>The granary has its own private courtyard with barbecue area, table and chairs, garden to the rear, patio, outdoor table tennis, parking area and safe ground for children to play.</li>
</ul>

<h2>Downstairs</h2>

<ul>
  <li>The ground floor has a large lounge/dining and kitchen area well equipped with microwave, dishwasher gas cooker, fridge, toaster, coffee maker, washing machine, iron, ironing board and hoover.</li>
  <li>Satellite TV [English], children’s channel, news & European sport, and DVD player.</li>
  <li>2nd small Kitchen area with washing machine, cooker, fridge, microwave, kettle and toaster etc.</li>
  <li>Bedroom 1 - 3 beds.</li>
  <li>Bathroom with shower overhead, w/c and hand basin.</li>
  <li>1 shower room with w.c and hand basin.</li>
</ul>

<h2>Upstairs</h2>

<h3>Side 1</h3>

<ul>
  <li>A staircase from the lounge leads to a further three bedrooms.</li>
  <li>Bedroom 2 - double bed. Vanity unit. Balcony overlooking front lawn and scenic countryside.</li>
  <li>Bedroom 3- two single beds.</li>
  <li>Bedroom 4 - double bed. Vanity unit.</li>
  <li>Shower room with W.C hand basin.</li>
  <li>W.C. with hand basin.</li>
</ul>

<h3>Side 2</h3>

<ul>
  <li>Bedroom 5 - double bed.</li>
  <li>Bedroom 6 - (small) 2 single beds suitable for children or 1 adult.</li>
  <li>Bedroom 7 - double bed with shower en-suite.</li>
  <li>1 Small shower room with toilet and handbasin.</li>
</ul>

<h2>Further Information</h2>

<ul>
  <li>There is a patio to the front of the property, garden area to the court yard side and further safe grounds for children to play on with football and swings.</li>
  <li>Garden tables, chairs and barbecues provided, and ample parking.</li>
  <li>Boule court area.</li>
  <li>Electric and gas for all hot water and kitchen appliances are included in the rent.</li>
  <li>Please bring your own sheets, duvet covers, pillowcases and towels if you do not wish to hire the linen.</li>
  <li>Linen Hire the cost of hire is 11 euros for a double and 9 euros for single per week, towels 12 euros per set/stay.</li>
  <li>Please note: no fresh linen change between a 2 week stay.</li>
  <li>No pets allowed.</li>
</ul>

<div class="booking-details">
  <p>Please see <a href="/bookings-and-contact/">Bookings and Contact</a> for details on how to book.
</div>
