---
layout: layouts/base.njk
---
<h1>Kergonian Holidays</h1>
<h2>Brittany, France</h2>

<p>Kergonian is in an idyllic location close to the coast and range of beaches of Brittany, France. With the warmest of atmospheres this self-catering holiday is a must for anyone. We have accommodation for all party sizes and a great swimming pool.</p>

<p>At Kergonian we understand and have created a “getting away from it” atmosphere, you can laze by the pool or explore the local beaches and villages. You will enjoy your holiday, a local market for the ladies and rock pools for the kids.</p>

<p>A self catering holiday in Brittany France will give you an exceptional holiday, the swimming pool is fantastic and the local beaches and food are great.</p>

<h2>Location</h2>

<p>Kergonian,<br/>
29720 Ploneour Lanvern,<br/>
Finistere,<br/>
France</p>

<p>Kergonian is based Just several miles from Pont L'abbe, close to the coast and many market towns.</p>

<p>todo</p>
