---
layout: layouts/base.njk
---
<h2>Brittany, France</h2>

<p>Kergonian is in an idyllic location close to the coast and range of beaches of Brittany, France. With the warmest of atmospheres this self-catering holiday is a must for anyone. We have accommodation for all party sizes and a great swimming pool.</p>

<p>At Kergonian we understand and have created a “getting away from it” atmosphere, you can laze by the pool or explore the local beaches and villages. A local market, beach walks, rock pools; You will enjoy your holiday</p>

<p>A self catering holiday in Brittany France will give you an exceptional holiday, the swimming pool is fantastic and the local beaches and food are great.</p>

<h2>Location</h2>

<p>Kergonian,<br/>
29720 Ploneour Lanvern,<br/>
Finistere,<br/>
France</p>

<p>Kergonian is based Just several miles from Pont L'abbe, close to the coast and many market towns.</p>

<h2>Testimonials</h2>

<blockquote>
  <p>We had a fanastic time, weather was great, pool was fantastic and sea close by. Already booked for next year.</p>
  <footer>— Mr. and Mrs. Hall, (Sheffield)</footer>
</blockquote>

<blockquote>
  <p>Local food was great, certainly enjoyed the local market town, in a great location for travelling to other parts of Brittany. Loved every second Max and Lynda made us feel very welcome.</p>
  <footer>– Mr. and Mrs. Herstell, (Abergele UK)</footer>
</blockquote>

<blockquote>
  <p>As a party of 6 adults and 8 children, finding a holiday home to please everyone is not easy, Kergonian was perfect and we have spent 2 summer holidays there, we have missed out on our third summer, as the Granary was already booked in advance for 2006 we, will be returning in 2007 August.</p>
  <p>The kids love the pool and the grounds are safe yet fun for them to play in. The grown-ups love the relaxed atmosphere of the region and particularly enjoy spending the day at the fantastic surfing beach at Pointe de La Torche, which also has an excellent beach cafe.</p>
  <footer>– June and Richard Skinner</footer>
</blockquote>

<blockquote>
  <p>A holiday to cater for twelve adults and twelve children ranging from 1yr to 10yrs has to be a special place, The grounds were so safe the children could run free and explore without adults with them, they made "camps" in the bushes which was not frowned at, played football in the garden and thoroughly enjoyed the swimming pool. The grown-ups were able to relax, play table tennis and generally engoy themselves knowing the children were safe. Both houses we used were comfortable and ideal for us as a family, we felt the properties, grounds and area were taior-made for us.</p>
  <footer>– Mrs Sandra Gilbert</footer>
</blockquote>

<blockquote>
  <p>We would recommend a stay at the Spacious Farmhouse at Kergonian to anyone who has never been to Brittany before. It is ideally placed only a couple of hours from Roscoff ferry port and within easy reach of Quimper which is a fabulous mix of both quaint cobbled back streets and modern shopping centres.</p>
  <p>We fell in love with the many tiny harbours and the chance to have lunch watching the fishing boats. The farmhouse is spacious and very comfortably equipped with everything you could need for your stay.The owners were on hand to help out with any local information that you required, the swimming pool was a bonus for us on days we preferred to just relax. We are looking forward to returning next year.</p>
  <footer>– Colin and Kath Smith from (Chester)</footer>
</blockquote>
